body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

main {
    padding: 20px;
    flex: 1;
}

footer {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.chart-box {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 600px;
    max-height: 300px;
}

.vertical-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.vertical-header h2,
.vertical-header p,
.vertical-header h3,
.vertical-header form {
    margin: 5px 0;
}

.sidebar {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 150px; /* Adjusted width */
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Make sidebar scrollable */
}

.sidebar h2 {
    text-align: center;
    font-weight: bold;
}

.sidebar nav ul {
    padding: 0;
    list-style: none;
    width: 100%;
}

.sidebar nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: underline;
    display: block;
    padding: 10px;
}

.main-content {
    margin-right: 170px; /* Adjust based on sidebar width */
    padding: 20px;
    flex: 1;
}

/* Spinner overlay for charts */
.spinner-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
